.catalog-category-elements.ui.segment
	h3.header= local.catalog.categoryElements

	if catalogElementsPagination && catalogElementsPagination.length > 1
		.pagination.top.ui.buttons
			include elements-pagination

	.ui.four.column.grid
		each item in catalogElements
			.column
				.ui.card
					.image
						img(alt=item.name, src=item.picture)
					.content
						h4.name.header= item.name
						.price <b>#{local.catalog.price}:</b> #{item.price.toFixed(2)} #{local.catalog.currency}
						.merchant <b>#{local.catalog.merchant}:</b> #{item.merchant.name}
						.categories
							h5= local.catalog.categories
							.ui.bulleted.link.list
								each category in item.categories
									.item= category.name

	if catalogElementsPagination && catalogElementsPagination.length > 1
		.pagination.bottom.ui.buttons
			include elements-pagination
